RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{ENV:HTTPS} !on [NC]
RewriteRule ^(.*)$ https://atelierdesongles.fr/$1 [R,L]

RewriteCond %{ENV:HTTPS} on [NC]
RewriteCond %{REQUEST_URI} !^/(public)/ [NC]
RewriteRule ^(.*)$ index.php [L,QSA]
